%h1 
  = @user.username+"'s pages:"
.user_pages
  - @user.pages.each do |page|
    .one-page
      %h2
        = link_to page.title, user_page_path(@user, page)
      = link_to 'изменить', edit_page_path(page), class: "btn btn-default icon-edit icon-large"
      = link_to ' удалить', user_page_path(@user, page), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger icon-trash icon-large"
      %hr