= content_for(:title, 'Последние добавленные шпаргалки | shpora.me')
%h1 Последние добавленные
%hr
= render 'search', url: serach_pages_path
%hr
- @pages.each do |page|
  %h2
    = link_to page.title, user_page_path(page.user, page)
  %hr
= will_paginate @posts
