.title
  %h1 
    = @page.title
  - unless current_user == @user
    %i.fa.fa-star.unfavorite#make-favorite{ data: {:page_id => @page.id, :user_username => current_user.username} }
= raw @page.content