%h4 Здравствуйте #{@user}! Соскучился? Мы тоже!

%p Только у нас появилась уникальная возможность зарабатывать деньги не делая абсолютно ничего!

%p Просто заходи на наш сайт, загружают свои шпаршалки просто перетаскивая их в видповидку область и получай до 50 центов.

%p Собери в сумме 5 долларов и мы вышлем деньги в удобным для тебя способом.

%p Одно условие. Шпаргалки должны быть уникальными. Перед отправкой денег админ будет это проверять!
%p
  Заработанные деньги может проверять в новой секции нашего сайта:
  = link_to 'здесь', earns_url

%p Спеши зарабатывать.

%small Команда shpora.me.
