%h4 Здравствуй #{@user}! Соскучился? Мы тоже!

%p Хотим сообщить, что у нас появилась уникальная возможность. Ты можешь зарабатывать деньги, абсолютно ничего не делая!
%p Просто заходи на наш сайт, загружай свои шпаршалки, перетаскивая их в нужную область, и получай за это поллдоллара.

%p Собери в сумме 5 долларов и мы вышлем тебе деньги удобным для тебя способом.

%p У нас есть всего одно условие - шпаргалки должны быть уникальными. Перед отправкой денег админ будет это проверять!
%p
  Заработанные деньги ты можешь проверять в новой разделе нашего сайта:
  = link_to 'здесь', earns_url

%p Спеши зарабатывать.

%small
  Команда
  = link_to 'shpora.me', root_url
