#add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.add-modal
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Создать пост
      .modal-body
        .icons-navigation
          ndllddld
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Закрыть