$lightGrey: #999;

header {
  h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  /*nav {
    width: 100%;
    background-color: #428bca;
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 80%;
      li {
        a {
          color: #fff;
        }
        font-size: 1.3em;
        display: inline;
        margin-right: 10px;
        color: #fff;
        &:last-of-type {
          margin: 0;
          font-size: 1.2em;
        }
      }
    }
  }*/
}

/* 
.container {
  width: 85%;
}
*/
body {
  font-family: Arial;
  color: #333333;
  padding: 0px;
  margin: 0px;
}

.col-xs-12, .col-sm-12 {
  padding: 0% 5%;
  h1 {
    font-size: 5em;
  }
}

.col-md-12 {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $lightGrey;
}

.center {
  text-align: center;
  width: 50%;
  margin: 70px auto;
}

img {
  max-width: 100%;
}

.title {
  text-align: left;
}

/* Text Editor */
.wysihtml5-sandbox {
  width: 50%;
  height: 100px;
  margin-bottom: 10px;
  resize: vertical;
}

.shpora_main {
  margin: 10% auto;
  h1 {
    font-size: 3.5em;
  }
}

.close_nav {
  i {
    cursor: pointer;
    color: #428bca;
    &:hover {
      color: #2a6496;
    }
  }
}
.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  .nav-bar {
    .nav-brand {
      color: #fff;
      text-align: center;
      background-color: #428bca;
      font-size: 25px;
      display: block;
      line-height: 50px;
      right: 0;
      top: 0;
    }
    a {
      text-decoration: none;
    }
    .nav-slider {
      color: #fff;
      position: absolute;
      font-size: 25px;
      padding: 9px 12px;
      line-height: 30px;
    }
  }
}



.navigation {
  color: #fff;
  text-align: center;
  background-color: #4C4C52;
  font-size: 20px;
  line-height: 35px;
  height: 35px;
  display: none;
  ul {
    list-style: none;
    li {
      display: inline;
      color: #A0A0A3;
      a {
        color: #A0A0A3;
      }
    }
  }
}

.starter-template {
  margin-top: 80px;
}