$lightGrey: #999;
$headerColor: #7693CA;

a {
  font-family: serif;
}

header {
  position: absolute;
  width: 100%;  
  top: 0px;
  opacity: 0.95;
  h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
}

body {
  font-family: serif;
  background: #dedede;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333333;
  padding: 0px;
  margin: 0px;
  word-wrap: break-word;
  -webkit-text-size-adjust: none; /* Resolve problem with font size on landscape orientation */
}

.wrapper {
  padding-top: 40px !important;
  width: 70%;
  z-index: -1 !important;
  margin: 0 auto;
  position: absolute;
  left: 15%;
  right: 15%;
}

@media(max-width: 500px) {
  .wrapper {
    width: 94%;
    left: 3%;
    right: 3%;
  }
}

.image {
  margin-bottom: 10px;
  img {
    max-width: 100%;
  }
}

a {
  color: #428bca;
  &:hover {
    color: #2a6496;
  }
}

.col-xs-12, .col-sm-12 {
  padding: 0% 2%;
  z-index: 1;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $lightGrey;
}

.center {
  text-align: center;
}

.content {
  img {
    max-width: 100% !important;
  }
  table {
    width: 100% !important;
  }
  p {
    margin: 0 !important;
  }
}

.title {
  text-align: left;
}

/* Text Editor */
.wysihtml5-sandbox {
  width: 50%;
  height: 300px;
  margin-bottom: 10px;
  resize: vertical;
}

.shpora_main {
  margin: 10% auto;
  h1 {
    font-size: 3.5em;
  }
}

.nav-brand {
  top: -1px !important;
  color: #fff;
  text-align: center;
  font-size: 33px;
  display: block;
  line-height: 50px;
  right: 0;
  top: 0;
  font-family: serif;
  -webkit-text-shadow: 1px 1px 1px rgba(255,255,255,.5),-1px -1px 1px rgba(0,0,0,.2);
  text-shadow: 1px 1px 1px rgba(255,255,255,.5),-1px -1px 1px rgba(0,0,0,.2);

  border-bottom: 10px solid transparent;
  
  background-image: 
    linear-gradient($headerColor, $headerColor),
    linear-gradient(to bottom right, transparent 50.5%, $headerColor 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, $headerColor 50.5%),
    linear-gradient(to top right, transparent 50.5%, $headerColor 50.5%),
    linear-gradient(to top left, transparent 50.5%, $headerColor 50.5%);
  /*
  background-image:
          linear-gradient(lightblue, skyblue),
          linear-gradient(to bottom right, transparent 50.5%, lightblue 50.5%),
          linear-gradient(to bottom left, transparent 50.5%, lightblue 50.5%),
          linear-gradient(to top right, transparent 50.5%, skyblue 50.5%),
          linear-gradient(to top left, transparent 50.5%, skyblue 50.5%);
  */
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
  background-size: auto auto, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
}
a {
  text-decoration: none;
}
.nav-slider, .close-nav, .share {
  color: #fff;
  position: absolute;
  font-size: 25px;
  line-height: 25px;
  padding: 10px 12px;
  -webkit-text-shadow: 1px 1px 1px rgba(255,255,255,.5),-1px -1px 1px rgba(0,0,0,.2);
  text-shadow: 1px 1px 1px rgba(255,255,255,.5),-1px -1px 1px rgba(0,0,0,.2);
}
.close-nav, .share {
  top: 0;
  right: 0;
}
.brand {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #F2F2F2;
  }
}


.navigation {
  text-align: center;
  background-color: #1c5169;
  font-size: 20px;
  line-height: 35px;
  height: 35px;
  display: none;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      display: inline;
      margin-right: 15px;
        &:last-of-type {
          margin: 0;
        }
      a {
        color: #628bca;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.starter-template {
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  div {
    h1 { font-size: 24px !important;}
    h2 { font-size: 22px !important;}
    h3 { font-size: 18px !important;}
    h4 { font-size: 16px !important;}
    h5 { font-size: 12px !important;}
    h6 { font-size: 10px !important;}
  }
}



.main {
  padding: 60px 40px 20px 40px;
  background-color: #fff;
  margin-top: -60px;
}

.home-page {
  
}

@media(max-width: 300px) {
  .fixed-nav {
    position: static;
    height: 65px;
  }
  .main {
    margin-top: 70px;
  }
  .close-nav {
    display: none;
  }
  .nav-slider {
    display: none;
  }
  .navigation {
    display: block;
    margin-top: 0px;
  }
}



.presentation {
  width: 100%;
  padding: 5px 20px;
  bottom: 0;
  text-align: center;
  color: #000;
  border-bottom: 2px dotted #C3C3C3;
  border-top: 2px dotted #C3C3C3;
  padding: 10px 0 15px 0;
  img {
    max-height: 350px;
    padding: 20px 50px;
  }
}

.registration {
  text-align: center;
  h1 {
    padding-top: 10px;
    color: #1c5169;
  }
  form {
    max-width: 75%;
    margin: 0 auto;
    padding: 5px 0px;
    color: #1c5169;
    label {
      font-weight: normal;
    }
  }
}

.recent-user-pages, .recent-pages, .recent-favorites {
  padding: 0px 5px;
  .block {
    padding: 0px 10px;
  }
  h1 {
    color: #1c5169;
    margin-left: 10px;
    margin-right: 10px;
  }
  .one-page {
    margin: 0 10px;
    h3 {
      a {
        font-size: 20px;
      }
    }
  }
}


.auth {
  text-align: center;
  h1 {
    padding-top: 10px;
    color: #1c5169;
  }
  form {
    max-width: 75%;
    margin: 0 auto;
    padding: 10px 0px;
    color: #1c5169;
    label {
      font-weight: normal;
    }
    p {
    color: #1c5169;
      a {
        color: #1c5169;
      }
    }
  }
}

.bottom hr {
  margin: 2px 0;
}
.bottom {
  position: relative;
  margin-top: -5px;
}

.hr-wrapper {
  position: absolute;
  top: 0;
  height: 25px;
  width: 100%;
}

.col-md-offset-1 {
  margin-left: 1.333333333333332%;
  margin-right: 1.333333333333332%;
}
.wrapper {
  padding: 0 !important;
}
.auth.col-md-4, .registration.col-md-4, .recent-user-pages.col-md-4, .recent-favorites.col-md-4, .recent-pages.col-md-4 {
  box-shadow: 0 -29px 50px rgba(0,0,0,0.5);
  top: -110px;
  padding-top: 130px;
  background-color: #fff;
  height: 450px;
  width: 32.44%;
  border-bottom: 2px dotted #C3C3C3;
}
.description-row {
  padding-bottom: 50px !important;
}
.first-row {
  height: 345px; 
  padding: 0 !important; 
}

.bottom {
  background-color: #fff;
}

.footer {
  background-color: #fff;
  overflow: auto;
  padding: 10px 15px;
  margin-top: 0px;
  height: 100%;
  color: $lightGrey;
  a {
  line-height: 30px;
    &:hover {
      text-decoration: none;
      color: #1c5169;
    }
  }
  small {
    line-height: 34px;
    padding-left: 2px;
  }
  .counter {
    float: right;
    margin-right: 10px;
  }
}

.red {
  color: red;
}

.user_pages {
  .one-page {
    a {
      margin-right: 10px;
      display: inline;
    }
  }
}
/* Editor */
h1 { font-size: 24px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}

.row {
  margin-right: 0;
  margin-left: 0;
  padding: 0px 5px;
}

.favorite {
  color: gold;
}

#make-favorite {
  font-size: 33px;
  margin-bottom: 10px;
  cursor: pointer;
  span {
    color: $lightGrey;
    font-size: 20px;
  }
}

.user-page {
  text-align: left;
}

.h1-title {
  margin-bottom: 0px;
}

/* Tag cloud yoba! */
.css1, .css2, .css3, .css4 {
  line-height: 50px;
  margin-right: 5px;
  &:last-of-type {
    margin-right: 0px;
  }
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.4em; }
.css3 { font-size: 1.8em; }
.css4 { font-size: 2.4em; }

#cke_page_content {
  width: 100% !important;
  height: 50%;
}

.tags {
  margin-bottom: 10px;
  h2 {
    display: inline;
    margin-right: 5px;
  }
}

.nickname {
  color: #428bca;
  font-size: 2em;
}

.description {
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  top: -20px;
  h2 {
    margin: 0;
    text-align: center;
  }
}

.button-link {
  background:none!important;
  width: 100%;
  border:none; 
  padding:0!important;
  color: #428bca;
  &:hover {
    color: #2a6496;
    text-decoration: underline;
  }
}

.share-buttons {
  #vk_like {
    margin: 0 auto;
    width: 70px !important;
  }
}

.shpora-count {
  .number {
    margin-top: 10px;
    text-align: center;
  }
}

.lobster {
  font-family: 'Lobster';
}
.user_pages {
  .lobster {
    font-size: 33px !important;
  }
}

.col-md-4.col-xs-12 {
  h1 {
    margin-top: 0;
    font-size: 30px;
    font-family: serif;
  }
}

.modal.in .modal-dialog {

}

.modal { 
  top: 54px;
  right: 0;
  bottom: inherit;
  left: 0;
  z-index: -1;
  width: 15%; 
}

.modal-dialog {
  padding: 0;
  margin-left: 0;
  /* margin-right: auto; */
  /* width: auto; */
  z-index: 1050;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0%, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog .add-modal {
  padding: 0;
}
.modal-backdrop {
  display: none;
}

.dropdown-wrapper {
  position: absolute;
  top: 0px;
  right: 15%;
}

#dropdown-profile {
  color: #fff;
  font-size: 18px;
  &:hover {
    background-color: $headerColor;
  }
  &:focus {
    background-color: $headerColor;
  }
}

.add-button {
  color: #fff;
  font-size: 25px;
  left: 15%;
  top: 0;
  position: absolute;
  height: 50px;
  padding-top: 15px;
  width: 40px;
  &:hover {
    text-decoration: none;
    background-color: $headerColor;
  }
}