.row
  .shares.col-md-4.col-xs-12
  .shares.col-md-4.col-xs-12
    / Put this div tag to the place, where the Like block will be
    #vk_like
    :javascript
      VK.Widgets.Like("vk_like", {type: "full", height: 24});
  .shares.col-md-4.col-xs-12