.row
  .shares.col-md-4.col-xs-12
  .shares.col-md-4.col-xs-12
    .share-buttons
      #vk_like
      :javascript
        VK.Widgets.Like("vk_like", {type: "mini", height: 24, text: "Ура! Теперь я все сдам на отлично! :)", pageImage: "http://shpora.me/tools.png", pageTitle: "Shpora.me - твоя электронная шпаргалка"});
  .shares.col-md-4.col-xs-12