.row
  .shares.col-md-4.col-xs-12
  .shares.col-md-4.col-xs-12
    / Put this script tag to the place, where the Share button will be
    :javascript
      <!--
      document.write(VK.Share.button(false,{type: "custom", text: "<img src=\"http://vk.com/images/share_32.png\" width=\"32\" height=\"32\" />"}));
      -->
  .shares.col-md-4.col-xs-12