._m-b-lg= t('landing.authentication.socials')
.row
  .col-sm-12
    %a{href: 'users/auth/facebook', class: 'btn btn-primary btn-block'}
      %i.fa.fa-facebook._m-r
      %span= t('socials.facebook')
-# .row._m-t
-#   .col-sm-12
-#     %a{href: 'users/auth/google_oauth2', class: 'btn btn-danger btn-block'}
-#       %i.fa.fa-google._m-r
-#       %span= t('socials.google')
.row._m-t.hidden
  .col-sm-12
    %a{href: 'users/auth/vkontakte', class: 'btn btn-info btn-block'}
      %i.fa.fa-vk._m-r
      %span= t('socials.vkontakte')
