= form_tag user_session_path do
  = hidden_field_tag 'user[username]', :value => 'batman'
  = hidden_field_tag 'user[password]', :value => '11111111'
    %button.btn.btn-default Попробовать без регистрации
